---
navigation:
- text: Home
  url: /
- text: Archive
  url: /archive
- text: Agile Crusade
  url: /agile-crusade
  category: agile-crusade
- text: Today I Learned...
  url: /today-i-learned
  category: today-i-learned

bio:
- text: I'm Matthew J. Morrison.
- text: A Passionate, professional software developer & hobbyist; Language nerd & regular user of Unix, Python, Ruby & JavaScript.

---

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/assets/css/syntax.css" />
        <style type="text/css">
        body { padding-top: 50px; }
        .navbar .brand { margin-left:10px; }
        </style>
    </head>
    <body>
        <div class="container container-fluid">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <a class="brand" href="/">{{ site.name }}</a>

                        <div class="nav-collapse collapse">
                            <ul class="nav">
                            {% for link in page.navigation %}
                              {% if page.category and page.category == link.category %}
                                {% assign classes = 'active' %}
                              {% else %}
                                {% assign classes = '' %}
                              {% endif %}
                              {% if link.category %}
                                <li class="dropdown {{ classes }}">
                                  <a href="{{ link.url }}" data-toggle="dropdown">
                                    {{ link.text }}
                                    <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                                    <li class="divider"></li>
                                    {% for post in site.posts reversed %}
                                      {% if post.category == link.category %}
                                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                  </ul>
                                </li>
                              {% else %}
                                <li class="{{ classes }}">
                                  <a href="{{ link.url }}">{{ link.text }}</a>
                                </li>
                              {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2 hidden-phone">
                    <div id="info" class="affix span2">
                        <img class="photo" src="https://secure.gravatar.com/avatar/fef0c23e28423a81e227ac336953e2d7?s=200" />
                        {% for part in page.bio %}
                        <p>{{ part.text }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="span9 offset1">
                    {{ content }}
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        {% unless page.nocomments %}
        <script type="text/javascript">
          setTimeout(function() {
              var disqus_shortname = 'mattjmorrison';
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          }, 1000);
        </script>
        {% endunless %}
    </body>
</html>
