---
navigation:
- text: Home
  url: /
- text: Archive
  url: /archive
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              {% for link in page.navigation %}
                  <a class="extra" href="{{ link.url }}">{{ link.text }}</a>
              {% endfor %}
            </div>
            {{ content }}
            <div class="footer">
              <div class="contact">
                <p>
                  Matthew J. Morrison<br />
                  Software Developer<br />
                  mattjmorrison@mattjmorrison.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/mattjmorrison/">github.com/mattjmorrison</a><br />
                  <a href="http://twitter.com/mattjmorrison/">twitter.com/mattjmorrison</a><br />
                </p>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
